.head-sm {
  color: #ff6262;
  font-size: 12px;
}

.mt {
  margin-top: 40px;
}

.mb {
  margin-bottom: 15px;
}

.dynamic-content-container {
  margin-top: 1.5rem;
}

.sso-login-button {
  width: 250px;
}
