<section class="d-flex flex-column h-100">
  <!-- Top text container -->
  <div class="d-flex justify-content-end p-2">
    <div class="text-end">
      <h2 class="text-purple">{{ title }}</h2>
      <h2 class="text-purple">{{ subTitle }}</h2>
    </div>
  </div>

  <!-- Circle container (center, takes most space) -->
  <div class="flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="circle-container">
      <!-- Center shield -->
      <div class="center-image">
        <img
          src="../../../assets/login-graphic/rs_center_logo.svg"
          alt="Center Shield"
        />
      </div>

      <!-- Rotating icons -->
      <div class="orbit">
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/house.svg"
            alt="icon1"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/setting.svg"
            alt="icon2"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/bike.svg"
            alt="icon3"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/aeroplane.svg"
            alt="icon4"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/health.svg"
            alt="icon5"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/bags.svg"
            alt="icon6"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/engineer.svg"
            alt="icon7"
            class="orbit-icon"
          />
        </div>
        <div class="orbit-icon-wrapper">
          <img
            src="../../../assets/login-graphic/ship.svg"
            alt="icon8"
            class="orbit-icon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom text container -->
  <div class="d-flex justify-content-start p-2">
    <div class="text-start">
      <h2 class="text-purple">Start strong</h2>
      <h2 class="text-purple">Support that lasts</h2>
    </div>
  </div>
</section>
