.image-background {
  background-image: url("../../../assets/login-graphic/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.logo-left-container {
  background-color: #f0f4fa;
}

.login-right-container {
  padding: 2rem;
}

.logo-header {
  height: 34px;
  background: url("../../../assets/images/rs-logo.svg") center/contain no-repeat;
}
